.dashboard-container {
    background-color: #f4f7fa;
    padding: 10px;
  }
  
  .custom-table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th, .custom-table td {
    padding: 8px;
    text-align: center;
  }
  
  .input-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .output-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .output-row span {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  .custom-input {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .config-button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .config-button:hover {
    background-color: darkred; /* Darker red on hover */
  }
  
  